*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


body {
    background: #eee;
}


header,main,footer{
    text-transform: capitalize;
    text-align: center;
}

header{
    background: #ddd;
    padding: 1vw;
}

main{
    min-height: 100vh;
    vertical-align: middle;
}

footer{
    background: #ddd;
    padding: 1vw;
}